<%= @survey.title %>

<p>Add a question to your survey</p>

<div class="">
  <form action="/surveys/<%= @survey.id %>" method="post">
    <div class="form-group">
      <label for="description" class="form-label">Description of Question</label>
      <input type="text" name="description" class="form-control"  placeholder="description">
      <button type="submit" class="btn btn-primary">Create Question</button>
    </div>
  </form>
</div>

  <p>If questions are added they appear below:</p>
  <% @questions.each() do |single| %>
  <% if single.survey_id == @survey_id %>
    <li><%=single.description%></li>
  <% end %>
<% end %>

<form action="/survey/<%= @survey.id %>/delete" method="post">
  <div class="form-group">
    <!-- <input name="_method" type="hidden" value="delete"> -->
    <button type="submit" class="btn btn-primary">Delete Survey</button>
  </div>
</form>

<div class="container">
  <a href="/">Home</a>
</div>
